<h3>
    My Heading
</h3>

<!-- single class -->
<!-- <div [class.divStyle]="myFlag">
    My Conditional styles div.
</div> -->

<!-- multiple class: space-delimited string -->
<!-- <div [class]="getClassSpaceDelimited()">
    My Conditional styles div 1: space-delimited string.
</div> -->

<!-- multiple class: object with key-value -->
<!-- <div [class]="getClassObject()">
    My Conditional styles div 2: object with key-value.
</div> -->

<!-- multiple class: array of class names -->
<!-- <div [class]="getClassArray()">
    My Conditional styles div 3: array of class names.
</div> -->

<!-- -------------------------------- -->
<!-- single style: dash-case -->
<!-- <div [style.font-size]="myFontValue">
    My Conditional styles div 1.
</div> -->

<!-- single style: camelCase -->
<!-- <div [style.fontSize]="myFontValue">
    My Conditional styles div 2.
</div> -->

<!-- single style: dash-case: with units -->
<!-- <div [style.font-size.px]="myFontValueOnly">
    My Conditional styles div 3.
</div> -->

<!-- multiple style: string list -->
<div [style]="styleStringList">
    My Conditional styles div 1.
</div>

<!-- multiple style: object -->
<div [style]="stylesObject">
    My Conditional styles div 2.
</div>