
<div class="parentCompDivStyle">
    <p>Component 1</p>

    <div class="childCompDivStyle">
        <div>
            <app-my-content-proj-2 [titleFromParent]="'Parent Title'">
                <h3 #myProjContent1>My slot content projection data 1</h3>
                <h4 #myProjContent1>My slot content projection data 2</h4>
                <div #myProjContent2>My slot content projection data 3</div>
                <div #myProjContent2>My slot content projection data 4</div>
            </app-my-content-proj-2>
        </div>

    </div>
</div>






