<!-- <div>
    <p appCustomColor [myHoverColor]="'blue'" myTextDecoration="line-through">
        My directive changed this text decoration!
    </p>
</div> -->

<!-- <div ngNonBindable>
    <div appCustomColor>
        Deactivating Angular processing: {{ 2 + 3}}
    </div>
</div> -->

<!-- <div>
    <p appCustomColor [fontSize]="30">
        My directive changed this text decoration 2!
    </p>
</div> -->

<!-- <div>
    <p appCustomColor (toggleColor)="handleToggColorEvent($event)">
        My directive changed this text decoration 2!
    </p>
</div> -->

<div>
    <p appCustomColor #myDirectiveTemRef="myCustomColorDirective">
        My directive changed this text decoration 3!
    </p>
    <div>
        <button (click)="myDirectiveTemRef.changeMyColor()">Change Color</button>
    </div>
</div>