/* You can add global styles to this file, and also import other style files */
.parentCompDivStyle {
    border: 2px solid green;
    padding: 20px;
    width: 400px;
}

.childCompDivStyle {
    border: 2px solid red;
    padding: 20px;
}
